@using SmartPOS.Entity.EntityModels
@using SmartPOS.App.Models


@model SmartPOS.App.Models.CurrencyVm
@{
    ViewBag.Title = "Currency";
    Layout = "~/Views/Shared/_Master.cshtml";
    List<Currency> currencies = ViewBag.Currency;
}

<h2>Currency</h2>
<script type="text/javascript">
    var rows = [];
    function Add() {
        debugger;
        rows.push({
            Name: $('#txtName').val(),
            Sign: $('#txtSign').val()
                
        });
        $('#tblCurrency').datagrid('loadData', rows);
    }

    function HasRowInGrid() {
        var gridRowAll = $('#tblCurrency').datagrid('getRows');
        if (gridRowAll.length > 0) {
            return true;
        }
        return false;
    }
    function SaveDate() {
        debugger;
        var currency = $('#tblCurrency').datagrid('getRows');
        if (HasRowInGrid()) {
            //$('#btnSave').prop('disabled', true);
            debugger;
            var navUrl = '/Currency/Currency';
            $.ajax({
                url: navUrl,
                type: 'Post',
                data: JSON.stringify({ currencys: currency }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (result) {
                    if (result != "Saved successfully") {
                        $("#btnSave").prop('disabled', false);
                        //toastr.error(result.Message);
                        alert("Data not save");
                        return;
                    }
                    else if (result == "Session Out") {
                        window.location = '@Url.Action("LogOn", "Account")';
                    }
                    else {
                        //toastr.success("Saved Successfully!! But error ocured to view");
                        alert("Saved Successfully");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    toastr.error(XMLHttpRequest + ": " + textStatus + ": " + errorThrown, 'Error!!!');
                }

            });
        }
        else {
            alert("There is no information to save");
        }
    }
</script>
<div class="card">
    <div class="card-block">
        
        <div class="form-group">
            <div class = "col-md-12">
                Name<font face="verdana" color="red"> *</font>
            </div>
            <div class="col-md-10">
                <input class = "form-control form-control-line" type="text" id="txtName" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                Sign<font face="verdana" color="red"> *</font>
            </div>
            <div class="col-md-10">
                <input class="form-control" type="text" id="txtSign" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
            </div>
            <div class="col-md-10">
                <input type="button" id="btnAdd" class="btn btn-default" value="Add" onclick="Add();" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
            </div>
            <div class="col-md-10">
                <table id="tblCurrency" class="easyui-datagrid" style="width: 200px; height:250px"
                       data-options="fitColumns:true,singleSelect:true">
                    <thead>
                    <tr>
                        <th data-options="field:'Name',width:100">Name</th>
                        <th data-options="field:'Sign',width:50">Sign</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
            </div>
            <div class="col-md-10">
                <input type="button" id="btnSave" class="btn btn-default" value="Save" onclick="SaveDate();" />
            </div>
        </div>
        
    </div>
</div>

